body {
  background: #004a83;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  font-size: larger;
}

.bg-steel {
  background-color: #004a83;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

table {
    table-layout: fixed;
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
    border: 3px solid #000000;
  }
  
  thead th:nth-child(1) {
    width: 3%;
  }
  
  thead th:nth-child(2) {
    width: 5%;
  }
  
  thead th:nth-child(3) {
    width: 5%;
  }
  
  thead th:nth-child(4) {
    width: 3%;
  }

  thead th:nth-child(5) {
    width: 30%;
  }

  thead th:nth-child(6) {
    width: 3%;
  }

  thead th:nth-child(7) {
    width: 4%;
  }

  thead th:nth-child(8) {
    width: 4%;
  }


  
  th {
    padding: 10px;
  }

  /* typography */

html {
    font-family: 'Lato', helvetica, arial, sans-serif;
  }
  
  thead th, tfoot th {
    font-family: 'Lato', cursive;
  }
  
  th {
    letter-spacing: 2px;
  }
  
  td {
    letter-spacing: 1px;
  }
  
  tbody td {
    text-align: center;
  }
  
  tfoot th {
    text-align: center;
  }